*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

/* NAVIGATION BAR  SECTION STARTS */

.nav_bar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    color: #29324f;
    position: relative;
    position: fixed;
    background-color: #ffffff;
    z-index: 1000;
    width: 100%;
}

.logo_1440{
    max-width: 80px;
}

.hamBurgerIcon{
    font-size: 18px;
}

.nav_btn_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_list{
    list-style-type: none;
    display: none;
}
.menu_list li a {
    text-decoration: none;
    color: #28324f;
}


.menu_list .menu_items{
    display: inline;
    text-transform: uppercase;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin: 0px 5px;
}
.book_now{
    background-color:#e84b45 ;
    padding: 31px 20px;
    height: 100;
    color: white;

}
.toggleSearchBtn{
    display: none;

}
.main_logo{
    display: none;
}
.nav_btn{
    border: 0px;
    background-color: transparent;
}
.search_bar_container{
    position: absolute;
    top: -70px;
    right: 0;
    left: auto;
    width: 100%;
    z-index: 8;
    background-color: #28324f;
}
.search_visible{
    top: 69px;
}
.search_bar{
    background-color: #28324f;
    width: 100vw;
    color: #ffffff;
    padding: 12px;
}
.color{
    background-color: red;
    color: #1d1d27;
}
.dropdown_container1{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    position: absolute;
    top: -400px;
    right: 0;
    z-index: 1000;
    width: 100%;
    color: #1d1d27;
}

.dropdown_links{
    width: 30vw;
    flex-shrink: 0;
    padding: 0px 44px;
}
.dropdown_description{
    width: 50vw;
}
.experience_drp{
    top: 70px;
}
.dropdown_menu_container{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1000;
}
.dropdown_menu{
    width: 100%;
}
.dropdown_menu li{
    display: flex;

}
#closeBtn{
    font-size: 24px;
    margin-bottom: 12px;
}

/* END OF NAVIGATION BAR */

/* IMAGE SLIDER SECTION STARTS */
.main_page{
    width: 100vw;
}

.img_slider{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    background-color: #1d1d27;
    border: 2px solid black;
}

.slider_container{
    background-image: url(../images/main_img1.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero_txt{
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    padding: 24pxpx;
}

.hero_head{
    font-family: "lora", serif;
    color: #ffffff;
    font-size: 24px;
}

.hero_bottom{
    display: flex;
    color: #ffffff;
    align-items: center;
    font-size: 18px;
    margin-left: 80px;
}
.video_slide{
    width: 100vw;
    height: 50vh;
}

/* IMAGE SLIDER SECTION ENDS  */

/* CONTENT STARTS */

.intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto 20px auto;
}

.intro_head{
    font-size: 28px;
}

.dash{
    background-color: #e84b45;
    width: 60px;
    margin: 18px auto 18px auto;
}

.intro_description{
    font-size: 16px;
}

.plus{
    color: #e74b45;
}

.hideUnhide{
    display: none;
}

.intro_bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person_container{
    width: 100%;
    margin-top: 12px;
}

.personImg{
    width: 50%;
    margin-right: 12px;

}
.intro_hover_style{
    width: 100%;
    overflow: hidden;
    margin-top: 14px;
}
.mask{
    position: absolute;
    top: -100%;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(256,256,256,0.9);
    color: black;
    transition: all 0.5s ease;
    
    padding: 12px;
}
.intro_hover_style:hover .mask{
    top: 0%;
}

/* CONTENT ENDS  */

/* FOOTER STARTS */

.footer_container{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right ,#e74b45 30vw,#28324f 70px);
}

.donation_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 30px;
    flex-shrink: 0;
}
.donation_logo{
    width: 55px;
    height: 50px;
}

.foot_head{
    font-size: 14px;
    color: #ffffff;
}

.footer_nav_container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.foot_list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.foot_nav a{
    font-size: 14px;
    margin: 0px 6px;
    text-decoration: none;
    color: #ffffff;
}

/* FOOTER END */

@media (min-width:992px){
    .main_logo{
        display: block;
        max-width: 80px;
    }
    
    .menu_list{
        display: block;
    }

    .logo_1440{
        display: none;
    }

    .nav_btn_container{
        display: none;
    }

    .ham{
        display: none;
        
    }
    .menu_txt{
        font-size: 12px;
    }
    .hero_head{
        font-size: 50px;
    }
    .hero_txt{
        font-size: 40px;
    }
    .slider_container{
        height: 93vh;
    }
    .video_slide{
        height: 93vh;
    }

    
    .intro_bottom{
        flex-direction: row;
        justify-content: space-between;
    }
    .intro_hover_style{
        width: 50%;
        overflow: hidden;
        margin: 12px;
    }
    .person_container{
        width: 50%;
        margin-top: 12px;
    }
    .dropdown_menu_container{
        display: none;
    }

}


